.crear-encuesta-container {
  text-align: center;
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
  margin: 20px 0;
}

label {
  display: block;
  font-size: 18px;
  color: #9cc7b2; /* Verde pastel */
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #9cc7b2; /* Verde pastel */
  border-radius: 10px;
  font-size: 16px;
}

.error-message {
  color: #9cc7b2; /* Verde pastel */
  font-size: 16px;
}

.submit-button {
  background-color: #9cc7b2; /* Verde pastel */
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #7fbba0; /* Verde pastel más oscuro */
}
